body{
background:lightgray;
 margin:0;
 font-family: sans-serif;
}

div{
    box-sizing: border-box;
}

header{
    background-color: white;
    padding: 10px;
    }

header h1{
    margin:0;
}

div.Container {

    width: 600px;
    margin: auto;
}


div.Post {
    background:white;
    margin-top: 10px;
    padding:10px 0px 10px 0px;
    
}

div.Post img{
    width: 100%;
    height: 600px;
    object-fit: cover;
     }

div.Post .post-header div:first-child{
    display:inline-block;
    width:80%;
   

}

div.Post .post-header div:last-child{
    display:inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: grey;
   
}

div.Post h2,
div.Post p{
    padding: 10px;
    margin:0;
}

h2{
    font-size: 20px;

}